@model IEnumerable<HSB.Models.Member>

@{
    ViewData["Title"] = "Aktive Medlemmer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:55px"></div>

<h2>
    Aktive medlemmer
</h2>

<br />
<br />

<h3 style="color:cadetblue">Antal: &nbsp;<u style="color: goldenrod">@Model.Count() </u></h3>


<p class="text-right">
    <button type="button" class="btn btn-success" style="margin-right: 10px">
        <i class="fa fa-user-plus" style="font-size:20px;color:#00ff00"></i>
        <a asp-action="Create" style="color: white;">Tilføj medlem </a>
    </button>
    <button type="button" class="btn btn-info">
        <i class="fa fa-download" style="font-size:20px;color:#141fff"></i>
        <a asp-action="CreateCmsFile" style="color: white;">Hent Fil</a>
    </button>
</p>

<table class="table table-active">
    <thead>
        <b>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subscribed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobilePay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromDate)
                </th>

                <th></th>
            </tr>
        </b>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subscribed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobilePay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">
                        <i class='fas fa-user-edit'
                           data-toggle="tooltip" data-placement="left" title="Rediger" style="font-size:25px; color: #ffa366; margin-right: 10px"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.ID">
                        <i class="fa fa-address-card"
                           data-toggle="tooltip" data-placement="right" title="Detaljer" style="font-size:25px; color: #47b2b8; margin-right: 10px"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" data-placement="bottom" title="Slet">
                        <i class="fa fa-user-times" style="font-size:25px; color: red; margin-right: 10px"></i>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
<div style="height:30px"></div>
<div>
    <p class="text-right">
        <button type="button" class="btn btn-secondary" style="background: mediumslateblue">
            <i class='fas fa-id-card-alt' style='font-size:25px;color:#a30ad6'></i>
            <a asp-action="PassiveMembers" style="color: white;">Passive medlemmer </a>
        </button>
</div>

